

body {
    overflow: hidden;
}
body, td, tr, .container, ::-webkit-scrollbar {
    background: FloralWhite;
    color: #121212
}
  @media (prefers-color-scheme: dark) {
    body, td, tr, .container, ::-webkit-scrollbar {
        background: #121212;
              color: FloralWhite;
    }

    td, tr, .container {
        background-color: #121212;
        color: floralwhite;
    }

  }
  


   